.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);

  margin: 25px 74px 0 20px;
}

.additional-products__list {
  list-style-type: none;
  margin: 36px 20px 35.12px 20px;
  padding: 13px 0 19px 0;
}

.additional-products__item {
  margin-bottom: 31px;
}

.additional-products__item:last-child {
  margin-bottom: 0;
}

.additional-products__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 1);
}

.additional-products__item-description {
  color: rgba(68, 68, 68, 1);

  .catalog-secondary-description();
}
