
.advantages__container {
  background: rgba(255, 255, 255, 1);
  padding: 20px 20.5px 49px 20.5px;
}

.advantages__title {
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

.secondary-headline {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {
  margin-bottom: 20px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__description {
  color: rgba(68, 68, 68, 1);
}

.secondary-description {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
