.contacts__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
.contacts__address-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.contacts__container--primary-theme {
  background-color: #ffffff;
}
.contacts__container--secondary-theme {
  background-color: #f2f2f2;
}
.contacts__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;
}
@media (min-width: 769px) {
  .contacts__container {
    padding: 56px 70px;
  }
  .contacts__slogan {
    width: 171.82px;
  }
  .contacts__address-description {
    width: 159.76px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    padding: 95px 0 107px 110px;
    background-color: #68b738;
  }
  .contacts__container {
    background-color: #ffffff;
    width: 565px;
    padding: 56px 60px 56px 80px;
  }
}
