.contacts__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 1);

  margin: 0;
}

.contacts__address-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  margin: 0;
}

.contacts__container--primary-theme {
  background-color: rgba(255, 255, 255, 1);
}

.contacts__container--secondary-theme {
  background-color: rgba(242, 242, 242, 1);
}

.contacts__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  padding: 26px 20px;
}

@media (min-width: 769px) {
  .contacts__container {
    padding: 56px 70px;
  }

  .contacts__slogan {
    width: 171.82px;
  }

  .contacts__address-description {
    width: 159.76px;
  }
}

@media (min-width: 1440px) {
  .contacts {
    padding: 95px 0 107px 110px;
    background-color: rgba(104, 183, 56, 1);
  }

  .contacts__container {
    background-color: rgba(255, 255, 255, 1);
    width: 565px;
    padding: 56px 60px 56px 80px;
  }
}
