.contacts {
  padding: 26px 20px;
}

.contacts__slogan {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 1);
}

.contacts__address-description {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts__container--primary-theme {
  background-color: rgba(255, 255, 255, 1);
}

.contacts__container--secondary-theme {
  background-color: rgba(242, 242, 242, 1);
}
