.form {
  padding: 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  padding: 27px 0 37px 20px;
  margin: 0;
  color: rgba(0, 0, 0, 1);

  .main-headline();

  align-self: flex-start;
}

.form__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: rgba(0, 0, 0, 1);

  padding-bottom: 39px;
  padding-left: 20px;
  margin: 0;

  align-self: start;
}

.form__info {
  margin-bottom: 14px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(68, 68, 68, 1);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__info:last-child {
  margin-bottom: 24px;
}

.form__pet-info {
  margin: 0;
  padding: 0;

  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin-left: 13px;

  border: 1px solid rgba(231, 231, 231, 1);
  border-radius: 0;
  padding: 14px 0 13px 20px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}

.name-input {
  min-width: 208px;
}

.weight-input {
  min-width: 187px;
}

.age-input {
  min-width: 153px;
}

.form__filter-item {
  text-transform: uppercase;
  margin-bottom: 12px;

  min-height: 30px;
}

.form__filter-item:last-child {
  margin-bottom: 0;
}

.form__filter-list-weight {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.form__filter--weight {
  padding: 22px 20px 19px 20px;

  border-top: 1px solid rgba(217, 217, 217, 1);
  border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.control {
  padding-left: 45px;

  position: relative;
}

.control-input[type="radio"] + .control-mark {
  top: -12px;
  left: 0;
  border-radius: 50px;
}

.control-input[type="checkbox"] + .control-mark {
  top: 0;
  left: 0;
  border-radius: 0;
}

.control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid rgba(205, 205, 205, 1);
  background-color: rgba(255, 255, 255, 1);
}

.control-input:default + .control-mark {
  background-color: rgba(255, 255, 255, 1);
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 8.5px;
  left: 8.5px;
  border-radius: 50px;
  content: "";
  background-color: rgba(104, 183, 56, 1);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 8px;
  left: 6px;
  content: url("../img/checkbox-input-icon.svg");
}

.form__filter-list {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 22px;
}

.form__filter-item-wrap {
  display: flex;
  flex-direction: column;
}

.form__section-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}

.input-field-owner-info {
  margin-left: 10px;

  border: 1px solid rgba(231, 231, 231, 1);
  border-radius: 0;
  padding: 14.72px 0 14.17px 15px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}

.email-input {
  min-width: 205px;
  text-transform: uppercase;

  position: relative;
}

.email-input::after {
  position: absolute;
  content: url("../img/form-mail-icon.svg");
  top: 13px;
  right: 15px;
  z-index: 8;
}

.number-input {
  min-width: 187px;
}

.form__owner-contacts {
  padding: 0 20px;
}

.form__owner-contacts-title {
  padding-top: 26px;
  padding-bottom: 35px;
  margin: 0;

  text-align: left;
}

.form__pet-details {
  padding: 0 20px;
}

.form__pet-details-title {
  padding-top: 24px;
  padding-bottom: 38px;
  margin: 0;
}

.form__comment-area {
  padding: 9.27px 12px 0 15px;
  margin: 0;

  width: 253px;
  height: 150.52px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);

  text-transform: uppercase;

  border: 1px solid rgba(231, 231, 231, 1);
}

.form__filter--additional-products {
  padding: 0 20px;
}

.form__filter-item-add {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  min-height: 30px;

  padding-bottom: 13px;
}

.form__filter-add-products-title {
  padding-top: 23px;
  padding-bottom: 34px;
  margin: 0;
}

.form__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  width: 280px;
  height: 40px;

  padding: 0;
  border: 0;

  margin: 0 20px 21px 20px;
}

.form__field-requirement {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);

  margin: 0;
  padding: 0 63px 32px 63px;
}

@media (min-width: 769px) {
  .form {
    padding: 0 70px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__title {
    padding: 65px 0 54px 0;

    align-self: flex-start;
  }

  .form__description {
    padding-bottom: 66px;
    padding-left: 0;
    line-height: 30px;

    align-self: flex-start;
  }

  .form__pet-info {
    width: 630px;
    margin: 0 auto 67px auto;
  }

  .form__info {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;

    font-size: 20px;
    line-height: 29.64px;
  }

  .input-field {
    padding: 11px 0 11px 20px;
    margin-left: 13px;

    font-size: 20px;
    line-height: 29.64px;
  }

  .name-input {
    min-width: 550px;
  }

  .weight-input {
    min-width: 522px;
  }

  .age-input {
    min-width: 480px;
  }

  .form__filter--weight {
    border: 0;
  }

  .form__filter-list-weight {
    width: 600px;
    margin: 0 auto 71px auto;
    padding: 25px 0 25px 27.93px;
    border: 1px solid rgba(231, 231, 231, 1);
  }

  .form__filter-item {
    min-height: 40px;
    font-size: 20px;
    line-height: 29.64px;

    margin-bottom: 13px;
  }

  .control {
    padding-left: 60px;
  }

  .control-mark {
    width: 40px;
    height: 40px;
  }

  .control-input[type="radio"]:checked + .control-mark::before {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }

  .control-input[type="checkbox"]:checked + .control-mark::before,
  .control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    top: 7px;
    left: 7px;
    content: url("../img/checkbox-input-icon.svg");
  }

  .form__owner-contacts {
    width: 630px;
    margin: 0 auto 65px auto;
    padding: 0;
  }

  .form__owner-contacts-title {
    padding-top: 0;
    padding-bottom: 76px;
    font-size: 36px;
    line-height: 36px;

    align-self: left;
  }

  .form__info--owner-email {
    margin-left: auto;
    margin-right: auto;
  }

  .form__info--owner-number {
    margin: 0 auto 65px auto;
  }

  .email {
    width: 63px;

    font-size: 20px;
    line-height: 29.64px;
  }

  .number {
    font-size: 20px;
    line-height: 29.64px;
  }

  .email-input {
    min-width: 528px;

    margin-left: 20px;
    padding: 11px 0 11px 20px;
  }

  .number-input {
    min-width: 509px;

    margin-left: 20px;
    padding: 11px 0 11px 20px;
  }

  .form__info:last-child {
    margin-bottom: 0;
  }

  .form__pet-details {
    padding: 0;
  }

  .form__pet-details-title {
    padding-top: 0;
    padding-bottom: 76px;

    font-size: 36px;
    line-height: 36px;
  }

  .form__comment-area {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 19px;

    width: 631px;
    min-height: 174px;
  }

  .form__filter {
    padding: 0;
  }

  .form__filter-add-products-title {
    padding: 65px 0 57px 0;

    font-size: 36px;
    line-height: 36px;
  }

  .form__filter-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 533px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .form__filter-item-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 32px;
  }

  .form__filter-item-wrap:last-child {
    margin-bottom: 0;
  }

  .form__filter-item-add {
    min-height: 40px;
    padding: 0;
    margin-bottom: 13px;

    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 29.64px;
    text-transform: uppercase;
  }

  .form__filter-item-add--sweetener {
    margin-right: 123px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 29.64px;
  }

  .form__filter-item-add--water {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 29.64px;
  }

  .form__filter-item-add--milk {
    margin-right: 200px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 29.64px;
  }

  .form__filter-item-add--vitamins {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 29.64px;
  }

  .form__summary {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form__button {
    width: 282px;
    height: 52px;

    padding: 0;
    border: 0;
    margin: 54px auto 72px 0;
  }

  .form__field-requirement {
    padding: 0;
    margin: 69px auto 93px 0;
  }
}

@media (min-width: 1440px) {
  .form {
    padding: 0 110px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form__title {
    padding: 73.52px 0 56px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .form__description {
    padding: 0 0 66px 0;
    font-size: 20px;
    line-height: 30px;
  }

  .form__pet-info {
    width: 569px;
    margin: 0 80px 0 auto;

    font-size: 20px;
    line-height: 29.64px;
  }

  .input-field {
    padding: 11px 0 20px 11px;
    border: 1px solid rgba(231, 231, 231, 1);
  }

  .name-input {
    min-width: 489px;
  }

  .weight-input {
    min-width: 461px;
  }

  .age-input {
    min-width: 419px;
  }

  .form__filter--weight {
    width: 568px;
    margin: 0 auto 0 0;
    padding: 0;

    border: 1px solid rgba(231, 231, 231, 1);
  }

  .form__filter-list-weight {
    margin-bottom: 0;

    width: 540;
    padding: 25px 0 25px 27.93px;
    border: 0;
  }

  .form__filter-item {
    min-width: 540px;
  }

  .form__filter-item:last-child {
    margin-bottom: 0;
  }

  .form__desktop-container {
    display: flex;
    flex-direction: row;

    margin: 0 auto 65px auto;
  }

  .form__owner-contacts {
    width: 1156px;
    margin: 0;
  }

  .form__owner-contacts-title {
    padding: 0 0 76px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .form__owner-contacts-desktop {
    display: flex;
    flex-direction: row;

    font-size: 20px;
    line-height: 29.64px;
  }

  .form__info--owner-email {
    margin: 0 78px 0 0;
  }

  .form__info--owner-number {
    margin: 0;
  }

  .email-input {
    min-width: 466px;
    margin-left: 20px;

    padding: 11px 0 11px 20px;
  }

  .number-input {
    min-width: 486px;

    margin-left: 20px;
    padding: 11px 0 11px 20px;
  }

  .form__pet-details {
    display: flex;
    flex-direction: column;
  }

  .form__pet-details-title {
    padding: 67px 0 76px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .form__comment-area {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 19px;

    min-width: 1201px;
    min-height: 174px;

    font-size: 20px;
    line-height: 30px;
  }

  .form__filter-add-products-title {
    padding: 67px 0 57px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .form__filter-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 0;
    margin: 0 0 61px 0;
    width: 1125px;
  }

  .form__filter-item-wrap {
    margin: 0;

    font-size: 20px;
    line-height: 29.64px;
  }

  .form__filter-item {
    min-width: 540px;
    font-size: 20px;
    margin-bottom: 13px;
  }

  .form__filter-item-add--sweetener {
    margin-right: 104px;
    margin-bottom: 0;
  }

  .form__filter-item-add--milk {
    margin-right: 197px;
    margin-left: 136px;
  }

  .form__button {
    width: 568px;
    height: 52px;
    margin: 0 84px 82px 0;
  }

  .form__field-requirement {
    font-size: 16px;
    margin: 0 0 101px 0;
  }
}
