.form {
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title {
  padding-top: 27px;
  padding-bottom: 37px;
  margin: 0;
  color: rgba(0, 0, 0, 1);

  .main-headline();
}

.form__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);

  padding-bottom: 39px;
  margin: 0;
}

.form__info {
  margin-bottom: 14px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(68, 68, 68, 1);
}

.form__info:last-child {
  margin-bottom: 0;
}

.form__pet-info {
  margin: 0;
  padding: 0;
}

.form__filter-item {
  text-transform: uppercase;
  margin-bottom: 13px;
}

.form__filter-item:last-child {
  margin-bottom: 0;
}

.form__filter--weight {
  margin-top: 46px;
  margin-bottom: 19px;
}

.form__filter-list {
  list-style-type: none;
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 34px;
}

.form__section-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}

.form__owner-contacts-title {
  padding-top: 26px;
  padding-bottom: 35px;
  margin: 0;
}

.form__pet-details-title {
  padding-top: 24px;
  padding-bottom: 38px;
  margin: 0;
}

.form__comment-area {
  padding: 9.27px 12px 0 15px;
  margin: 0;

  width: 253px;
  height: 150.52px;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);

  text-transform: uppercase;
}

.form__filter-add-products-title {
  padding-top: 23px;
  padding-bottom: 34px;
  margin: 0;
}

.form__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  width: 280px;
  height: 40px;

  padding: 0;
  border: 0;

  margin-bottom: 21px;
}

.form__field-requirement {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);

  margin: 0;
  padding: 0 63px;
}

@media (min-width: 769px) {
  .form {
    padding: 0 70px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__title {
    padding-top: 65px;
    padding-bottom: 54px;

    align-self: flex-start;
  }

  .form__description {
    padding-bottom: 66px;
    line-height: 30px;

    align-self: flex-start;
  }

  .form__pet-info {
    width: 630px;
    margin: 0 auto 67px auto;
  }

  .form__info {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;

    font-size: 20px;
  }

  .name-input {
    width: 570px;
    height: 52px;
    margin-left: 13px;
  }

  .weight-input {
    width: 542px;
    height: 52px;
    margin-left: 13px;
  }

  .age-input {
    width: 500px;
    height: 52px;
    margin-left: 13px;
  }

  .form__filter--weight {
    width: 602px;
    margin: 0 auto 71px auto;
    padding: 25px 0 25px 27.93px;
    border: 1px solid rgba(231, 231, 231, 1);
  }

  .form__owner-contacts {
    width: 630px;
    margin: 0 auto;
  }

  .form__owner-contacts-title {
    padding-top: 0;
    padding-bottom: 76px;
    font-size: 36px;

    align-self: left;
  }

  .form__info--owner-email {
    margin-left: auto;
    margin-right: auto;
  }

  .form__info--owner-number {
    margin-left: auto;
    margin-right: auto;
  }

  .email {
    width: 63px;
  }

  .email-input {
    width: 548px;
    height: 52px;
    margin-left: 20px;
  }

  .numper-input {
    width: 529px;
    height: 52px;
    margin-left: 20px;
  }

  .form__pet-details-title {
    padding-top: 65px;
    padding-bottom: 76px;
  }

  .form__comment-area {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 19px;

    width: 631px;
    min-height: 174px;
  }

  .form__filter-add-products-title {
    padding: 65px 0 57px 70px;
  }

  .form__filter-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 533px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .form__filter-item-wrap {
    display: flex;
    flex-direction: row;

    margin-bottom: 32px;
  }

  .form__filter-item-wrap:last-child {
    margin-bottom: 0;
  }

  .form__filter-item {
    margin: 0;
  }

  .form__filter-item--sweetener {
    margin-right: 123px;
  }

  .form__filter-item--milk {
    margin-right: 216px;
  }

  .form__summary {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form__button {
    width: 282px;
    height: 52px;

    padding: 0;
    border: 0;
    margin: 54px auto 72px 0;
  }

  .form__field-requirement {
    padding: 0;
    margin: 69px auto 93px 0;
  }
}

@media (min-width: 1440px) {
  .form {
    padding: 0 110px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form__title {
    padding: 73.52px 0 56px 0;
  }

  .form__description {
    padding: 0 0 66px 0;
    line-height: 30px;
  }

  .form__pet-info {
    width: 569px;
    margin: 0 80px 0 auto;
  }

  .name-input {
    width: 509px;
    height: 50px;
    padding: 0;
    border: 1px solid;
  }

  .weight-input {
    width: 481px;
    height: 50px;
    padding: 0;
    border: 1px solid;
  }

  .age-input {
    width: 439px;
    height: 50px;
    padding: 0;
    border: 1px solid;
  }

  .form__filter--weight {
    width: 568px;
    margin: 0 auto 0 0;
    padding: 0;
  }

  .form__filter-item:last-child {
    margin-bottom: 0;
  }

  .form__desktop-container {
    display: flex;
    flex-direction: row;

    margin-bottom: 65px;
  }

  .form__owner-contacts {
    width: 1156px;
    margin: 0;
  }

  .form__owner-contacts-title {
    padding: 0 0 76px 0;
    font-size: 36px;
  }

  .form__info--owner-email {
    margin: 0 78px 0 0;
  }

  .form__info--owner-number {
    margin: 0;
  }

  .email-input {
    width: 486px;
    height: 52px;
    margin-left: 20px;

    padding: 0;
  }

  .numper-input {
    width: 486px;
    height: 52px;
    margin-left: 20px;
  }

  .form__pet-details {
    display: flex;
    flex-direction: column;
  }

  .form__pet-details-title {
    padding: 67px 0 76px 0;
    font-size: 36px;
  }

  .form__comment-area {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 19px;

    width: 1201px;
    min-height: 174px;
  }

  .form__filter-add-products-title {
    padding: 67px 0 57px 0;
    font-size: 36px;
  }

  .form__filter-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 0;
    margin: 0 0 61px 0;
    width: 1125px;
  }

  .form__filter-item-wrap {
    margin: 0;
  }

  .form__filter-item {
    font-size: 20px;
    margin-bottom: 13px;
  }

  .form__filter-item--sweetener {
    margin-right: 104px;
    margin-bottom: 0;
  }

  .form__filter-item--milk {
    margin-right: 197px;
    margin-left: 136px;
  }

  .form__button {
    width: 568px;
    height: 52px;
    margin: 0 84px 82px 0;
  }

  .form__field-requirement {
    font-size: 16px;
    margin: 0 0 101px 0;
  }
}
