.main-header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #111111;
  background-color: #ffffff;
}
.main-header__nav {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  height: 37.61px;
}
.main-nav__list {
  list-style-type: none;
}
@media (min-width: 320px) and (max-width: 768px) {
  .main-header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 37.61px;
    padding: 10px 20px 17.37px 20px;
    color: #111111;
    background-color: #ffffff;
  }
  .main-header__logo-mobile {
    height: 37.61px;
  }
  .main-header__logo-tablet {
    display: none;
  }
  .main-header__logo-desktop {
    display: none;
  }
  .main-header__logo-text {
    min-height: 18px;
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 1439px) {
  .main-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }
  .main-header__logo-tablet {
    height: 51.68px;
  }
  .main-header__logo-mobile {
    display: none;
  }
  .main-header__logo-desktop {
    display: none;
  }
  .main-header__logo-text {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 54px 110px 0 110px;
  }
  .main-header__logo-tablet {
    display: none;
  }
  .main-header__logo-mobile {
    display: none;
  }
  .main-header__logo-text {
    display: none;
  }
  .main-header__logo-desktop {
    height: 59px;
  }
}
