.main-footer {
  background: #f2f2f2;
}
.main-footer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-footer__logo {
  padding: 40px 0;
  position: relative;
}
.main-footer__logo::after {
  position: absolute;
  content: url("../img/footer-divider-mobile.svg");
  top: 64px;
  left: -90px;
}
.main-footer__social {
  padding: 0 74.5px 40px 74.5px;
  position: relative;
}
.main-footer__social::after {
  position: absolute;
  content: url("../img/footer-divider-mobile.svg");
  top: 34px;
  left: 0;
}
.main-footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #444444;
}
@media (min-width: 769px) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 55px 30px;
  }
  .main-footer__logo {
    padding: 0;
  }
  .main-footer__logo::after {
    display: none;
  }
  .main-footer__social {
    padding: 0;
  }
  .main-footer__social::after {
    display: none;
  }
  .main-footer__copyright {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 66px 110px;
  }
}
