.products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);

  padding: 27px 0 49px 20px;
  margin: 0;
}

.products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-card {
  padding: 11px 20px 14px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.product-card::before {
  position: absolute;
  content: "";
  content: url(../img/catalog-divider-mobile.png);
  top: -8px;
}

.product-card__container {
  display: flex;
  flex-direction: row;

  margin-bottom: 13px;
}

.product-card__image--small {
  padding: 27px 33px 0 33px;
}

.product-card__image--big {
  padding: 11px 23px 0 23px;
}

.product-card__details-wrap {
  padding-bottom: 9px;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 1);
}

.product-details__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);

  margin: 0;
}

.product-details__weight,
.product-details__taste,
.product-details__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-card__button {
  width: 280px;
  height: 40px;

  padding: 0;
  border: 0;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
}

.product-card--show-more {
  width: 279px;
  padding: 36px 20px 25px 21px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(255, 255, 255, 1);

  position: relative;
}

.product-card--show-more::after {
  position: absolute;
  content: "";
  content: url(../img/catalog-divider-mobile.png);
  top: 208px;
}

.product-card__icon {
  margin: 0 125px;
}

.product-card__title-show-more {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  margin-top: 23px;
  margin-bottom: 8px;
}

.product-card__description-show-more {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);

  margin: 0 30px 21px 30px;
}

@media (min-width: 769px) {
  .products__title {
    margin: 0;
    padding: 65px 0 82px 30px;
  }

  .products__list {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
    align-items: center;
    justify-content: center;
  }

  .product-card:not(.product-card--show-more) {
    padding: 0 36px 39px 36px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(242, 242, 242, 1);
  }

  .product-card__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 33px;
  }

  .product-card__details-wrap {
    padding-top: 34px;
    padding-bottom: 0;
  }

  .product-card__button {
    width: 248px;
  }

  .product-card--show-more {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-card__title-show-more {
    margin: 54px 94px 23px 96px;
  }

  .product-card__description-show-more {
    margin: 0 79px 87px 80px;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .products__title {
    margin: 0;
    padding: 74px 0 84px 110px;
  }

  .products__list {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    gap: 80px;
    justify-content: center;
  }

  .product-card {
    padding: 0 30px 40px 35px;
  }

  .product-card__details-wrap {
    padding-top: 46px;
  }

  .product-card__button {
    width: 168px;
  }

  .product-card--show-more {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
  }

  .product-card__title-show-more {
    margin: 49px 55px 23px 56px;
  }

  .product-card__description-show-more {
    margin: 0 40px 87px 40px;
    text-align: center;
  }

  .product-card--show-more .product-card__button {
    margin-bottom: 41px;
  }
}
