.programs {
  padding: 0 20px;
}

.programs__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  background-image: url("./img/index-background.jpg");
  background-color: rgba(242, 242, 242, 1);
}

.programs__headline {
  color: rgba(255, 255, 255, 1);
  text-align: center;

  .main-headline();
}

.programs__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.programs__main-button {
  width: 280px;
  height: 40px;
  border: 0;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);
}

.programs__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.programs__item {
  background-color: rgba(217, 217, 217, 1);

  min-width: 240px;
  min-height: 246px;
  margin: 20px 0;
  padding: 20px;
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 1);
}

.programs__description {
  color: rgba(68, 68, 68, 1);

  .secondary-description();
}

.programs__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;

  margin: 38px 122px 18px 19px;
  width: 134px;
  height: 24px;
  border: 0;
}

@media (min-width: 769px) {
  .programs {
    padding: 0 30px;
  }

  .programs__headline {
    color: rgba(0, 0, 0, 1);
    .main-headline();
  }

  .programs__slogan {
    color: rgba(0, 0, 0, 1);
  }

  .programs__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .programs__item {
    min-width: 708px;
    min-height: 372px;

    margin-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .programs {
    padding: 0 110px;
  }

  .programs__list {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
    align-items: center;
    margin: 0 auto;
  }

  .programs__items-container {
    margin-top: 82px;
  }

  .programs__item {
    min-width: 570px;
    min-height: 374px;
    margin: 0;
    padding: 0;
  }
}
