
.reviews {
  background: rgba(234, 234, 234, 1);
}

.reviews__container {
  padding: 25px 20px 40px 20px;
}

.reviews__title {
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

.reviews__description {
  color: rgba(68, 68, 68, 1);
}

.reviews__results {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reviews__money-summary {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}
