// Начните писать стили здесь
body {
  background: rgba(255, 255, 255, 1);
  margin: 0 auto;
  padding: 0
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import url(./blocks/main-header.less);
@import url(./blocks/programs.less);
@import url(./blocks/advantages.less);
@import url(./blocks/reviews.less);
@import url(./blocks/contacts.less);
@import url(./blocks/products.less);
@import url(./blocks/additional-products.less);
@import url(./blocks/gift.less);
@import url(./blocks/main-footer.less);
@import url(./blocks/form.less);
